html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #f5938b;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}

.header {
  background-color: #f0cdab;
  color:#eb445b;
  text-align: center;
  padding: 20px;
}


/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #eb445b;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a:hover {
  color: #hotpink;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column-media {
    width: 100%;
  }
}

.footer {
  background-color: #f5938b;
  text-align: center;
  padding: 10px;
}

